@import '../../styles/main';

.shopByCategory {
  &__title {
    @extend %h1;

    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-desktop {
      flex-direction: row;
    }


  }
}
